<% console.log(locals)%>

<nav>
    <ul>
        <% if (user) { %>
        <li>
            <a href="/photos">See Photostream</a>
        </li>
        <li>
            <a href="/photos/new">Add a Photo</a>
        </li>
        <!-- log out -->
        <li>
            <a href="/logout">Log Out</a>
        </li>

        <% } else { %>
        <li>
            <a href="/signup">Sign Up</a>
        </li>
        <li>
            <a href="/login">Log In</a>
        </li>
        <% } %>
    </ul>
</nav>