<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new photo</title>
</head>
<body>
    <%- include('partials/nav') %>
    <h1>New Photo Page</h1>
    <form action="/photos" method="POST" enctype="multipart/form-data" autocomplete="off">
        Title: <input type="text" name="title"/>
        Location: <input type="text" name="author"/>
        Safe For Work: <input type="checkbox" name="safeForWork"/>
        Image Link: <input type="file" name="imageLink"/>
        <input type="submit" value="Add Photo"/>
    </form>
</body>
</html> 